// $main-background: whitesmoke;
$main-background: #e9ebee;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$body-bg: $main-background;

$width__sidebar: 40vw;
