#bottom-bar {
  // height: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  // padding: 0.6rem 1rem;
  color: $white;
  background: $white;
  // display: flex;
  // justify-content: center;
  h5 {
    @extend .text-center;
    padding: 0.5rem;
    margin-bottom: 0;
    background: $primary;
  }
}
